<?xml version="1.0" encoding="utf-8"?>
<!-- This file is for adding all the important launch files for our software stacks. -->
<launch>

<rosparam command="load" file="$(find team6_stack)/param/team6_config.yaml"/>

<!-- Launching the Object Inspector Node -->
<node name="object_inspector" pkg="team6_stack" type="object_inspector.py" output="screen"/>

<!-- Launching the Object Detection Saver Node -->
<node name="object_detection_saver" pkg="team6_stack" type="object_detection_saver.py" output="screen"/>

<!-- Launching the TF nodes -->
<node name="tf_converter" pkg="team6_stack" type="tf_converter.py" output="screen"/>

</launch>