<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
  <!-- launch ADIS 16448 IMU related nodes -->
  <arg name="launch_imu_interface"
       default="true" 
       doc="Launch the IMU related nodes (read out through versavis)"/>

  <!-- launch rgb cam (FLIR blackfly) -->
  <arg name="launch_rgb_cam"
       default="remote"
       doc="Launch the RGB camera related nodes? Options: local, remote (on Jetson GPU), false (default)"/>

  <!-- launch depth cam -->
  <arg name="launch_depth_cam"
       default="false"
       doc="Launch the depth camera related nodes"/>

  <!-- launch tracking cam -->
  <arg name="launch_tracking_cam"
       default="true" 
       doc="Launch the tracking camera related nodes"/>
       
  <arg name="tracking_cam_calib_odom_file"
       default="$(find smb)/config/tracking_camera_config.json"
       doc="path to config for odometry input to tracking camera (see https://github.com/IntelRealSense/librealsense/pull/3462" />

  <!-- launch lidar -->
  <arg name="launch_lidar"
       default="true" 
       doc="Launch the lidar related nodes" />

  <!-- launch powerstatus -->
  <arg name="launch_powerstatus"
       default="true" 
       doc="Launch node to read SMB power status"/>
  
  <arg name="smb_name"
       default="$(env SMB_NAME)"
       doc="Name of the SMB in the format smb26x (relevant for calibrations)" />

  <arg name="GPU_user" 
       default="$(env USER)"
       doc="Username to use on the jetson xavier GPU"/>


  <!-- evaluate where to start the rgb camera node (based on argument launch_rgb_cam) -->
  <arg name="rgb_cam_host"
       value="" unless="$(eval arg('launch_rgb_cam')=='remote')"
       doc="Host on which to launch rgb camera related nodes (and camera is connected to) - set based on argument launch_rgb_cam" />
  <arg name="rgb_cam_host"
       value="jetson" if="$(eval arg('launch_rgb_cam')=='remote')" 
       doc="Host on which to launch rgb camera related nodes (and camera is connected to) - set based on argument launch_rgb_cam" />

  <!-- define Jetson host (machine)-->
  <machine  name="jetson" 
            address="jetson-xavier" 
            env-loader="~/jetson_env.sh" 
            user="$(arg GPU_user)"
            default="false"/>

  <!-- Set global simulation parameter -->
  <param name="/simulation" value="false"/>

  <!-- Robosense LiDAR -->
  <group if="$(arg launch_lidar)" >
    <node  name="rslidar_sdk_node" pkg="rslidar_sdk" type="rslidar_sdk_node" output="screen"/>
  </group>

  <!-- Intel RealSense Tracking Camera T265 -->
  <group if="$(arg launch_tracking_cam)" >
    <arg name="camera_name" value="camera" />
	  <group ns="$(arg camera_name)">
      <param name="tracking_module/enable_mapping"           type="bool"   value="false"/>
      <param name="tracking_module/enable_pose_jumping"      type="bool"   value="false"/>
      <param name="tracking_module/enable_relocalization"    type="bool"   value="false"/>
	    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
	      <arg name="tf_prefix"                value="$(arg camera_name)"/>
	      <arg name="serial_no"                value=""/>
	      <arg name="usb_port_id"              value=""/>
	      <arg name="device_type"              value="t265"/>
	      <arg name="enable_pose"              value="true"/>
	      <arg name="enable_accel"             value="true"/>
	      <arg name="enable_gyro"              value="true"/>
	      <arg name="publish_odom_tf"          value="false"/>
	      <arg name="topic_odom_in"            value="/control/smb_diff_drive/odom"/>
	      <arg name="unite_imu_method"         value="linear_interpolation"/>
	      <arg name="calib_odom_file"          value="$(arg tracking_cam_calib_odom_file)"/>
	    </include>
	  </group>
  </group>

  <!-- Intel RealSense Depth Camera D435 -->
  <group if="$(arg launch_depth_cam)" >
   <include file="$(find realsense2_camera)/launch/rs_camera.launch">
     <arg name="camera" value="depth_cam" />
     <arg name="device_type" value="d435" />
   </include>
  </group>

  <!-- launch imu interface for ADIS 16448 IMU -->
  <group if="$(arg launch_imu_interface)" >
    <!-- Run VersaVIS link. -->
    <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py"
      args="_port:=/dev/versavis _baud:=250000" respawn="true" output="screen" />

    <!-- Publish IMU messages -->
    <node name="versavis_imu_receiver" pkg="versavis_adis16448_receiver"
        type="versavis_imu_receiver" required="true" output="screen">
      <!-- ADIS16448AMLZ parameters -->
      <param name="imu_accelerator_sensitivity"           value="0.000833" />
      <param name="imu_gyro_sensitivity"                  value="0.04" />
      <param name="imu_acceleration_covariance"           value="0.043864908" /> <!-- no idea where it is from -->
      <param name="imu_gyro_covariance"                   value="6e-9" /> <!-- no idea where it is from -->
      <param name="imu_sub_topic"  type="string"          value="/versavis/imu_micro"/>
      <param name="imu_pub_topic"  type="string"          value="/imu"/>
    </node>
  </group>

  <!-- launch rgb camera (flir camera driver)-->
  <group if="$(eval arg('launch_rgb_cam')=='local' or arg('launch_rgb_cam')=='remote')">
    <!-- camera name prefix -->
    <arg name="camera_name"             default="rgb_camera" />
    <arg name="camera_type"             default="usb" />
    <!-- camera manager -->
    <arg name="camera_manager"          value="camera_nodelet_manager" />
    <arg name="cam0_serial"             value="0" />

    <!-- camera nodelet system -->
    <!-- nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg camera_manager)"
          machine="$(arg rgb_cam_host)"
          args="manager"
          output="screen"
          required="true" >
        <param name="num_worker_threads" value="4" />
    </node>

    <group ns="$(arg camera_name)" >
      <!-- camera driver nodelet -->
      <node pkg="nodelet" type="nodelet" name="rgb_camera_nodelet" 
            machine="$(arg rgb_cam_host)"
            args="load spinnaker_camera_driver/SpinnakerCameraNodelet /$(arg camera_manager)" >

        <param name="frame_id" value="blackfly_right_optical_link" />
        <param name="serial" value="$(arg cam0_serial)" />
        <param name="acquisition_frame_rate" value="4" />
        <param name="acquisition_frame_rate_enable" value="true" />
        <param name="image_format_color_coding" value="BayerRG8" />
        <param name="color_processing_algorithm" value="HQ_LINEAR" />
        <param name="camera_info_url" value="package://smb/config/$(arg smb_name)_cam0.yaml" />

        <!-- Trigger related config -->
        <param name="acquisition_mode" value="Continuous" />
        <param name="enable_trigger" value="Off" />

        <!-- Exposure related config -->
        <param name="exposure_mode" value="Timed" />
        <param name="exposure_auto" value="Continuous" />
        <!-- <param name="exposure_auto" value="Off" />
        <param name="exposure_time" value="6000" /> --> <!-- in microseconds -->
        <param name="line_selector" value="Line2" />
        <param name="line_mode" value="Output" />
        <param name="line_source" value="ExposureActive" />
        <param name="line_inverter" value="false"/>
        <param name="auto_exposure_time_upper_limit" value="5000" />
        <param name="auto_exposure_time_lower_limit" value="300" />

        <!-- Analog related config -->
        <param name="auto_gain" value="Continuous" />
        <param name="auto_white_balance" value="Continuous" />
      </node>
      <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
        machine="$(arg rgb_cam_host)"
        args="load image_proc/debayer /$(arg camera_manager)">
      </node>
    </group>
  </group>


  <!-- Launch powerstatus -->
  <group if="$(arg launch_powerstatus)" >
    <include file="$(find smb_powerstatus)/launch/smb_powerstatus.launch"/>
  </group>


</launch>
