<?xml version="1.0" encoding="UTF-8"?>
<launch> 
  <arg name="launch_versavis"                       default="true" />
  <arg name="launch_depth_cam"                     default="false" />
  <arg name="launch_tracking_cam"                  default="true" />
  <arg name="use_lidar_odometry"                   default="false" />
  <arg name="launch_sensors"                       default="true" />
  <arg name="enable_ekf"                           default="false" />
  <arg name="launch_gui"                           default="false" />
  <arg name="mpc"                                  default="false" />
  <arg name="mpc_track_local_plan"                 default="false" />
  <arg name="control_namespace"                    default="control"/>
  <arg name="description_name"                     default="smb_description"/>
  <arg name="command_smb"                          default="true"/>
  <!-- Set global simulation parameter -->
  <param name="/simulation" value="false"/>

  <!-- start sensors -->
  <group if="$(arg launch_sensors)">
    <include file="$(find smb)/launch/sensors.launch">
      <arg name="launch_versavis"           value="$(arg launch_versavis)"/>
      <arg name="launch_depth_cam"         value="$(arg launch_depth_cam)"/>
      <arg name="launch_tracking_cam"      value="$(arg launch_tracking_cam)"/>
    </include>
  </group>

  <group ns="odometry" if="$(arg use_lidar_odometry)">
    <node pkg="odometry_conversion" type="odometry_conversion_node" name="lidar_odometry_conversion">
      <param name="in_odom_frame" value="rslidar"/>
      <param name="in_sensor_frame" value="imu"/>
      <param name="out_odom_frame" value="lidar_odom_base"/>
      <param name="out_sensor_frame" value="base_link"/>
      <remap from="/camera/odom/sample" to="/msf_core/odometry"/>
    </node>
    <include file="$(find smb_slam)/launch/compslam/smb_cmpslam.launch">
      <arg name="launch_rviz" value="false"/>
      <arg name="stitch_pointclouds"  value="false"/>
    </include>
  </group>

  <group ns="odometry" unless="$(arg use_lidar_odometry)">
    <node pkg="odometry_conversion" type="odometry_conversion_node" name="tracking_camera_odometry_conversion">
      <param name="in_odom_frame" value="camera_pose_frame"/>
      <param name="in_sensor_frame" value="camera_pose_frame"/>
      <param name="out_odom_frame" value="tracking_camera_odom"/>
      <param name="out_sensor_frame" value="base_link"/>
    </node>
  </group>

  <include file="$(find smb_lowlevel_controller)/launch/smb_lowlevel_controller.launch" ns="$(arg control_namespace)">
	  <arg name="description_name"            value="/$(arg description_name)"/>
	  <arg name="command_smb"                 value="$(arg command_smb)"/>
  </include>

  
  <include file="$(find smb_control)/launch/smb_control.launch">
    <arg name="enable_ekf" value="$(arg enable_ekf)" />
    <arg name="description_name" value="$(arg description_name)"/>
    <arg name="control_namespace" value="$(arg control_namespace)"/>
    <arg name="mpc"               value="$(arg mpc)"/>
    <arg name="mpc_track_local_plan" value="$(arg mpc_track_local_plan)"/>
  </include>

  <include file="$(find smb_opc)/launch/opc.launch" if="$(arg launch_gui)"/>

</launch>
