<launch>

    <arg name="global_frame"              default="map_o3d"                   doc="global frame, in which odometry is defined"/>
    <arg name="pcd_topic"                 default="/mapping_node/raw_cloud"   doc="input pointcloud topic"/>
    <arg name="transformed_pcd_topic"     default="/registered_scan"   doc="output transformed pointcloud (in global frame) topic"/>
    <arg name="sensor_frame"     default="/rslidar"   doc="frame of the sensor"/>
  
  <!-- Pointcloud Transformer Node -->
  <node name="pointcloud_transformer" pkg="smb_exploration" type="pointcloud_transformer_node" output="screen">
    <param name="global_frame"     value="$(arg global_frame)"/>
    <param name="pcd_topic"        value="$(arg pcd_topic)"/>
    <param name="transformed_pcd_topic"        value="$(arg transformed_pcd_topic)"/>
  </node>

  <!-- Static Transform adapt to CMU hardcoded frame -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="attach_map_link" args="0 0 0 0 0 0 $(arg global_frame) map" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="attach_sensor_link" args="0 0 0 0 0 0 $(arg sensor_frame) sensor" />
  
</launch>