<?xml version="1.0" encoding="UTF-8"?>
<launch>

<arg name="bag_filenames"         default="$(find smb_slam)/data/first_mission_wangen.bag"/>
<arg name="pose_graph_filename"   default="$(find smb_slam)/data/first_mission_wangen.bag.pbstream"/>
<arg name="map_name"              default="wangen_map"/>

  <node name="cartographer_assets_writer" pkg="cartographer_ros" required="true"
      type="cartographer_assets_writer" args="
          -configuration_directory $(find smb_slam)/config/smb_cartographer
          -configuration_basename assets_writer_smb.lua
          -urdf_filename $(find smb_slam)/config/smb_cartographer/smb.urdf
          -bag_filenames $(arg bag_filenames)
          -pose_graph_filename $(arg pose_graph_filename)
          -output_file_prefix $(find smb_slam)/maps/$(arg map_name)"
      output="screen">
  </node>
</launch>
