<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="/use_sim_time" value="true" />

  <arg name="bag_filename" default="$(find smb_slam)/data/first_mission_wangen.bag" /> 

  <node name="cartographer_offline_node" pkg="cartographer_ros"
    type="cartographer_offline_node" args="
    -configuration_directory $(find smb_slam)/config/smb_cartographer
    -configuration_basenames smb.lua
    -urdf_filenames $(find smb_slam)/config/smb_cartographer/smb.urdf
    -bag_filenames $(arg bag_filename)"
    output="screen" required="true">
    <remap from="points2" to="/rslidar_points" /> <!-- /os1_node/packets_as_clouds os /os1_node/points -->
    <remap from="imu"       to="/versavis/imu"/> <!-- /os1_node/imu or /xsensmt_node/rawImu -->
    <remap from="odom"       to="/camera/odom/sample"/> <!-- realsense odometry -->
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
    type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

</launch>

