<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Arguments -->
  <arg name="cloud_topic"           default="/rslidar_points"/>
  <arg name="parameter_filename"    default="param_robosense_rs16.lua"/>
	<arg name="parameter_folder_path" default="$(find smb_slam)/config/open3d_slam/"/>
  <arg name="launch_rviz"           default="true"/>
  <arg name="launch_sensors"        default="false"/>

  <!-- Potentially launch sensors -->
  <include file="$(find smb)/launch/sensors.launch" if="$(arg launch_sensors)"> </include> 

  <!-- Launch Map Builder (open3d_slam) -->
  <include file="$(find smb_slam)/launch/open3d_slam/mapping.launch">
    <arg name="cloud_topic"           value="$(arg cloud_topic)" />
    <arg name="parameter_folder_path" value="$(arg parameter_folder_path)"/>
    <arg name="parameter_filename"    value="$(arg parameter_filename)"/>
    <arg name="launch_rviz"           value="$(arg launch_rviz)"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="range_sensor_to_base_link" respawn="true" args="0 0 0 -1.57 0 0 range_sensor_o3d base_link 100"/>
  
</launch>