<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Arguments -->
  <arg name="cloud_topic"           default="/rslidar_points"/>
  <arg name="parameter_folder_path" default="$(find smb_slam)/config/open3d_slam/"/>
  <arg name="parameter_filename"    default="params_robosense_rs16.yaml"/>
  <arg name="read_from_rosbag"      default="false"/>
  <arg name="rosbag_filepath"       default=""/> # Can be used to process rosbag sequentially, usually much faster without missing messages
  <arg name="launch_rviz"           default="false"/>
  <arg name="launch_sensors"        default="false"/>
  <arg name="use_sim_time"          default="false"/>

  <!-- Potentially launch sensors -->
  <include file="$(find smb)/launch/sensors.launch" if="$(arg launch_sensors)"> </include> 

  <!-- Launch Map Builder (open3d_slam) -->
  <include file="$(find smb_slam)/launch/open3d_slam/mapping.launch">
    <arg name="cloud_topic"           value="$(arg cloud_topic)" />
    <arg name="parameter_folder_path" value="$(arg parameter_folder_path)"/>
    <arg name="parameter_filename"    value="$(arg parameter_filename)"/>
    <arg name="use_sim_time"          value="$(arg use_sim_time)"/>
    <arg name="launch_rviz"           value="$(arg launch_rviz)"/>
    <!-- In case of running from rosbag -->
    <arg name="is_read_from_rosbag"   value="$(arg read_from_rosbag)"/>
    <arg name="rosbag_filepath"       value="$(arg rosbag_filepath)"/>
  </include>

</launch>