<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- Arguments -->
	<arg name="launch_prefix" 				default="" doc="gdb -ex run --args"/>
	<arg name="launch_rviz" 				default="true" doc="whether to launch rviz"/>
	<arg name="cloud_topic" 				default="/rslidar/points" doc="input topic for the lidar pointcloud"/>
  	<arg name="parameter_filename" 			default="param_robosense_rs16.lua" doc="param file name"/>
	<arg name="parameter_folder_path" 		default="$(find smb_slam)/config/open3d_slam/" doc="directory for the parameter files"/>
	<arg name="num_accumulated_range_data" 	default="1"/>
	<arg name="is_read_from_rosbag" 		default="false" doc="Whether to directly read the pointclouds from the bag file instead of 
																running the rosbag. Switching this to true can provide performance faster than realtime"/>
	<arg name="use_sim_time" 				default="true" doc="Whether to use simulation clock"/>
	<arg name="play_delay" 					default="0.4" doc="Sleep SEC seconds after every advertise call (to allow subscribers to connect)"/>
	<arg name="play_rate" 					default="1.0" doc="Playback frequency of the bag file"/>
	<arg name="bag_filename" 				default="wheeled_robot_large_outdoor_area.bag" doc="Name of the bag file to playback"/> 
	<arg name="bag_folder_path" 			default="$(find smb_slam)/data/" doc="Folder path for the bag files"/>
	<arg name="map_saving_folder" 			default="$(find smb_slam)/data/maps/" doc="Path for saving the built map"/>
	
	<arg name="rosbag_full_path" 			default="$(arg bag_folder_path)/$(arg bag_filename)" doc="Full path for the rosbag"/> 
	<arg name="loop_closure" 				default="true"	doc="Whether to enable loop closure detection"/>

	<include file="$(find open3d_slam_ros)/launch/mapping.launch">
		<arg name="cloud_topic" 				value="$(arg cloud_topic)"/>
		<arg name="launch_rviz" 				value="$(arg launch_rviz)"/>
		<arg name="parameter_filename"			value="$(arg parameter_filename)"/>
		<arg name="parameter_folder_path" 		value="$(arg parameter_folder_path)"/>
		<arg name="num_accumulated_range_data" 	value="1"/>
		<arg name="use_sim_time" 				value="$(arg use_sim_time)"/>
		<arg name="is_read_from_rosbag" 		value="$(arg is_read_from_rosbag)"/>
		<arg name="rosbag_filepath" 			value="$(arg rosbag_full_path)"/>
		<arg name="launch_prefix" 				value="$(arg launch_prefix)"/>
		<arg name="map_saving_folder" 			value="$(arg map_saving_folder)"/>
		<arg name="loop_closure" 				value="$(arg loop_closure)"/>
	</include>
	
	<!-- Potentially playback the ros bag file -->
	<node pkg="rosbag" type="play" name="rosbag"
		args="'$(arg rosbag_full_path)' --delay '$(arg play_delay)' --rate '$(arg play_rate)' --clock -s 0" unless="$(arg is_read_from_rosbag)"/>

</launch>