<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Arguments -->
  <arg name="cloud_topic"           default="/rslidar_points"  doc="input topic for the lidar pointcloud"/>
  <arg name="parameter_filename"    default="param_rs16_localization.lua" doc="param file name"/>
  <arg name="parameter_folder_path" default="$(find smb_slam)/config/open3d_slam/" doc="directory for the parameter files"/>
  <arg name="launch_rviz"           default="false" doc="whether to launch rviz"/>
  <arg name="launch_sensors"        default="false" doc="whether to launch the sensors on the robot"/>
  <arg name="pcd_file_path"         default="$(find smb_slam)/data/maps/map.pcd" doc="absolute path for loading the map used for localization"/>
  <arg name="map_saving_folder"     default="$(find smb_slam)/data/maps/" doc="Path for saving the map (Won't get updated in this case)"/>

  <!-- Potentially launch sensors -->
  <include file="$(find smb)/launch/sensors.launch" if="$(arg launch_sensors)"> </include> 

  <!-- Launch Map Builder (open3d_slam) -->
  <include file="$(find open3d_slam_ros)/launch/mapping.launch">
    <arg name="cloud_topic"           value="$(arg cloud_topic)" />
    <arg name="parameter_folder_path" value="$(arg parameter_folder_path)"/>
    <arg name="parameter_filename"    value="$(arg parameter_filename)"/>
    <arg name="launch_rviz"           value="$(arg launch_rviz)"/>
    <arg name="pcd_file_path"         value="$(arg pcd_file_path)"/>
    <arg name="map_saving_folder"     value="$(arg map_saving_folder)"/>
  </include>

  <!-- Static TF publisher between range_sensor and base_link-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="range_sensor_to_base_link" respawn="true" args="-0.0245 0 -0.4645 0 0 0 range_sensor_o3d base_link" />
  
</launch>