<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Arguments -->
  <arg name="use_sim_time"          default="false" />
  <arg name="cloud_topic"           default="/rslidar/points" doc="input topic for the lidar pointcloud"/>
  <arg name="parameter_filename"    default="param_robosense_rs16.lua" doc="param file name"/>
  <arg name="launch_rviz"           default="false" doc="whether to launch rviz"/>
  <arg name="launch_sensors"        default="false" doc="whether to launch the sensors on the robot"/>
  <arg name="map_saving_folder"     default="$(find smb_slam)/data/maps/" doc="Path for saving the map"/>

  <!-- Potentially launch sensors -->
  <include file="$(find smb)/launch/sensors.launch" if="$(arg launch_sensors)"/>

  <!-- Launch Map Builder (open3d_slam) -->
  <include file="$(find open3d_slam_ros)/launch/mapping_live.launch">
    <arg name="cloud_topic"           value="$(arg cloud_topic)" />
    <arg name="parameter_filename"    value="$(arg parameter_filename)"/>
    <arg name="launch_rviz"           value="$(arg launch_rviz)"/>
    <arg name="map_saving_folder"     value="$(arg map_saving_folder)"/>
    <arg name="use_sim_time"          value="$(arg use_sim_time)"/>
    <arg name="odometry_topic"         value="/graph_msf/est_odometry_odom_imu"/>
    <arg name="assumed_external_odometry_tracked_frame" default="imu"/>
  </include>

</launch>
