<?xml version="1.0"?>

<!-- This file contains the Gazebo controller interface. -->
<robot name="smb" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="smb_ros_control_plugin" params="description_name
                                                     broadcast_tf=true
                                                     robot_namespace
                                                     control_namespace=control">


    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>${robot_namespace}/${control_namespace}</robotNamespace>
        <robotDescription>${description_name}</robotDescription>
        <broadcastTF>${broadcast_tf}</broadcastTF>
        <robotParam>${description_name}</robotParam>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        <!-- <controlPeriod>${controlPeriod}</controlPeriod> -->
        <!-- <legacyModeNS>true</legacyModeNS> --> <!-- TODO(oharley) -->
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
