<?xml version="1.0" encoding="UTF-8"?> 
<launch>

    <!-- Parameters -->
    <arg name="use_sim_time"              value="true" />

    <!-- Compslam -->
    <arg name="imu_topic_name"            default="/imu" />
    <arg name="launch_compslam"           default="true" />
    <arg name="pointcloud_topic_name"     default="/rslidar/points" />
    <arg name="compslam_config_file"  default="$(find smb_estimator_graph)/config/compslam/compslam_lio_RS16_params.yaml" />
    
    <!-- Alias to smb_estimator_graph replay script -->
    <include file="$(find smb_estimator_graph)/launch/smb_estimator_graph_replay.launch">
        <arg name="use_sim_time"              value="$(arg use_sim_time)" />
    </include>

    <!-- Load Description -->
    <include file="$(find smb_description)/launch/load.launch"/>

    <!-- Launch compslam -->
    <include file="$(find compslam_lio)/launch/compslam_lio.launch" if="$(arg launch_compslam)">
        <arg name="pointcloud_topic_name"           value="$(arg pointcloud_topic_name)" />
        <arg name="imu_topic_name"                  value="$(arg imu_topic_name)" />
        <arg name="config_filename"                 value="$(arg compslam_config_file)" />
    </include>

    <!-- TF for Aligning Compslam Map -->
    <node pkg="tf" type="static_transform_publisher" name="compslam_map_to_gmsf_map" args="0 0 0 0 0 0 map_graph_msf compslam_lio/camera_init_CORRECTED 10" />

</launch>