<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="$(optenv SMB_JOY_DEVICE /dev/input/js0)" />
  <arg name="joystick" default="true" />
  <arg name="joystick_name_space" default="joy_teleop"/>


  <group ns="$(arg joystick_name_space)">
    <!--rosparam command="load" file="$(find smb_control)/config/teleop_ps4.yaml" /-->
    <rosparam command="load" file="$(find smb_control)/config/teleop_logitech.yaml" />
    <param name="joy_node/dev" value="$(arg joy_dev)" />
    <node pkg="joy" type="joy_node" name="joy_node" />
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
    <node pkg="smb_control" type="joy_e_stop_node.py"	name="joy_e_stop_node" output="screen"/>
  </group>

</launch>
