<?xml version="1.0"?>

<robot name="smb" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="blackfly_camera_plugin" params="name rate">

    <xacro:property name="camera_topic" value="/versavis/cam0/slow/image_raw" />
    <xacro:property name="camera_info_topic" value="/versavis/cam0/slow/camera_info" />


    <gazebo reference="${name}_link">
      <sensor type="camera" name="${name}_cam">
        <pose>0.0066 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>${rate}</update_rate>
        <camera>
          <horizontal_fov>1.192</horizontal_fov> <!-- 80 deg-->
          <image>
            <width>1440</width>
            <height>1080</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <!-- Noise parameters based on published spec for Hokuyo laser
                achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                reading. -->
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="gazebo_ros_camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${name}_cam</cameraName>
          <imageTopicName>${camera_topic}</imageTopicName>
          <cameraInfoTopicName>${camera_info_topic}</cameraInfoTopicName>
          <frameName>${name}_optical_link</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>