<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- ROBOT ARGUMENTS -->
  <!-- Name of the robot description parameter -->
  <arg name="description_name"            default="smb_description"/>
  <arg name="enable_ekf"                  default="false"/>
  <arg name="robot_namespace"             default=""/>
  <arg name="control_namespace"           default="control"/>
  <arg name="launch_rviz"                 default="true"/>
  <arg name="launch_gazebo_gui"           default="false"/>
  <arg name="mpc"                         default="false"/>
  <arg name="keyboard_teleop"             default="false"/>
  <arg name="world"                       default="WaA"/>


  <include file="$(find smb_control)/launch/smb_control.launch">
    <arg name="control_namespace"       value="$(arg control_namespace)"/>
    <arg name="robot_namespace"         value="$(arg robot_namespace)"/>
    <arg name="description_name"        value="$(arg description_name)"/>
    <arg name="enable_ekf"              value="$(arg enable_ekf)" />
    <arg name="simulation"              value="true"/>
    <arg name="mpc"                     value="$(arg mpc)"/>
    <arg name="keyboard_teleop"         value="$(arg keyboard_teleop)"/>
  </include>

  <include file="$(find smb_gazebo)/launch/smb_gazebo.launch">
    <arg name="description_name"    value="$(arg description_name)"/>
    <arg name="control_namespace"   value="$(arg control_namespace)"/>
    <arg name="run_gui"             value="$(arg launch_gazebo_gui)"/>
    <arg name="world"               value="$(arg world)"/>
  </include>

  <include file="$(find smb_opc)/launch/opc.launch" if="$(arg launch_rviz)"/>

</launch>
